#Result table tbody tr:hover{
    cursor: pointer;
    background-color: aqua;
}

 
ul, .myUL {
  list-style-type: none;
}

.myUL {
  margin: 0;
  padding: 0;
}

.myUL li{
    font-size: 12px;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
} 

#nodelist{
    background-color: rgb(240, 231, 193);

    overflow-x: scroll;
}

span.editnode{
    font-size: 1.2em;
    background-color: #1a0bff;
    color: white;
    cursor: pointer;
    border-radius: 80%;
}

span.addnode{
    font-size: 1.2em;
    background-color: #ff0b0b;
    color: white;
    cursor: pointer;
    border-radius: 80%;
}